body {
  background: linear-gradient(to right, #eb250b, #800080);
}

.filmes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filme {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.filme img {
  width: 100%;
  height: auto;
}

button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}